<h1>Blogger Page</h1>

<br>
<h1><%=@blogger.name%></h1>
<br>
<h1><%=@blogger.age%></h1>
<br>
<h1><%=@blogger.bio%></h1>

<%=link_to "Edit This Blogger", edit_blogger_path(@blogger)%>
<br>
<%=link_to "Enter A New Blogger", new_blogger_path(@blogger)%>
<br>
<%=link_to "Back To Index Page", bloggers_path%>